body{
    background: #383a3d;
}

table td {
    vertical-align: middle;
}

.login-row {
    align-items: center;
}

.login-card {
    background: #fff;
    border-radius: 8px;
}

.login-card form{
    padding: 30px;
}

#tabs h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

#tabs p {
    margin: 0 0 20px;
    line-height: 1.5;
}

#tabs .tabs-content {
    min-height: 650px;
    padding: 50px;
    margin: 0 auto;
    background: #fff;
}

#tabs #content {
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

#tabs input.tabCheckbox {
    display: none;
}

#tabs .tab-items {
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
#tabs .tab-item {
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

#tabs .tab-item label:before {
    font-weight: normal;
    margin-right: 10px;
}



#tabs .tab-item label:hover {
    color: #888;
    cursor: pointer;
}

#tabs .tab-item.active {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

.form-row {
    display: grid;
    gap: 20px
}
.data-tree li {
    list-style: none;
}
.data-tree .items {
    cursor: pointer;
}
.data-tree a {
    text-decoration: none;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.profile .name {
    font-size: 22px;
    font-weight: bold
}

.profile .username {
    font-size: 14px;
    font-weight: 600;
}

